Repository FRONTENDSCHOOL5/final-12-spport, pull requests merged in 2023-06, with the labels that each got.

#15 공통 컴포넌트(Nav Bar, Profile Image)
  src/components/Common/NavBar.jsx
  src/components/Common/ProfileImage.jsx
Labels: common, design, feat

#19 📦Chore: eslint 설정 변경
  .eslintrc.json
Labels: chore

#26 [Feat] Router 설정 및 inputComment 완성
  src/components/Comment/InputComment.jsx
  src/routes/Router.jsx
Labels: feat

#27 [Design, Feat] List 컴포넌트, 공통 컴포넌트 작업
  src/components/List/Card.jsx
  src/components/List/CardList.jsx
  src/components/List/GameList.js
  src/components/List/GameListItem.js
  src/components/List/PlayerListItem.js
  src/components/List/UserList.js
  src/components/List/UserListItem.js
  src/components/Post/Post.jsx
  src/components/Post/PostProfile.jsx
  src/routes/Router.jsx
Labels: common, design, feat, Post, Schedule

#35 ✨Feat: Common API 추가
  src/api/CommonAPI.js
  src/pages/AddGame.jsx
Labels: feat, Schedule

#37 [Feat] AddGame 페이지와 팀 프로필내 GameList 컴포넌트
  .eslintrc.json
  .prettierrc
  package-lock.json
  package.json
  src/api/CommonAPI.js
  src/api/GameAPI/AddGameAPI.js
  src/api/GameAPI/PostGameAPI.js
  src/api/GameAPI/TeamProfileGameAPI.js
  src/components/Common/Filter/SelectFilter.jsx
  src/components/List/GameList.js
  src/components/List/GameList.jsx
  src/components/List/GameListItem.jsx
  src/components/Post/PostList.js
  src/data/baseball_games.json
  src/data/sport_bs_users.json
  src/pages/Profile.jsx
  src/style/GlobalStyles.js
Labels: chore, feat, Profile, Schedule

#39 [Design] Input 및 SnsButton 컴포넌트
  src/components/Common/Button/SnsButton.jsx
  src/components/Common/Input.jsx
Labels: common

#41 [Feat, Design] Welcome, Login, Signup 페이지
  src/pages/Login.jsx
  src/pages/Signup.jsx
  src/pages/Welcome.jsx
Labels: design, feat, Splash, Login, Signup

#46 [Feat] 일정추가 페이지
  src/api/GameAPI/AddGameAPI.js
  src/api/GameAPI/LikeGameAPI.js
  src/components/List/GameListItem.jsx
  src/pages/AddGame.jsx
Labels: feat, Schedule

#50 [Feat] PostList 컴포넌트, Home 페이지 추가
  src/components/Post/PostList.jsx
  src/pages/Home.jsx
Labels: common, feat, Home

#51 [Feat] 스플래쉬/로그인과 홈 피드 연결 및 홈 피드 필터링 기능 완료
  src/api/GameAPI/FeedGame.js
  src/components/Common/Filter/FeedFilter.jsx
  src/components/Common/Header/Header.jsx
  src/components/List/GameListItem.jsx
  src/components/Post/GamePost.jsx
  src/components/Post/Post.jsx
  src/components/Post/PostList.js
  src/components/Post/PostList.jsx
  src/components/Post/RegularPost.jsx
  src/pages/Home.jsx
Labels: feat, Login, Home

#52 📦Chore: Weather API KEY
  .env
Labels: chore

#53 [Feat] Search 기능 및 NavBar Router 연결
  src/api/SearchAPI.js
  src/components/Common/Header/SearchBox.jsx
  src/components/Common/NavBar.jsx
  src/components/List/UserList.js
  src/components/List/UserList.jsx
  src/components/List/UserListItem.jsx
  src/components/Post/PostList.jsx
  src/pages/Search.jsx
  src/routes/Router.jsx
Labels: design, feat, Home

#54 [Feat] test_token 삭제 및 token 연결
  src/api/GameAPI/AddGameAPI.js
  src/atom/atom.jsx
  src/components/Comment/InputComment.jsx
  src/components/List/GameListItem.jsx
  src/components/Post/BtnGroup.jsx
  src/pages/AddGame.jsx
  src/pages/Login.jsx
  src/pages/Post.jsx
Labels: feat

#55 [Feat] Error 페이지 및 Empty 컴포넌트 완성
  src/components/Comment/InputComment.jsx
  src/components/Common/Button/SnsButton.jsx
  src/components/Common/Empty.jsx
  src/pages/Error.jsx
  src/pages/Home.jsx
  src/pages/Post.jsx
  src/routes/Router.jsx
Labels: common, feat

#59 [Feat] Profile, Follow 페이지 기능 구현
  src/api/FollowAPI.js
  src/api/ProfileAPI.js
  src/assets/image/icon-message-btn.svg
  src/assets/image/icon-share-btn.svg
  src/components/Common/Button/MButton.jsx
  src/components/Common/Button/SButton.jsx
  src/components/Common/ProfileImage.jsx
  src/components/Follow/FollowList.jsx
  src/components/Follow/Followers.jsx
  src/components/Follow/Followings.jsx
  src/components/Profile/CommonProfile.js
  src/components/Profile/TeamProfile.js
  src/components/Profile/UserProfile.js
  src/pages/Follow.jsx
  src/pages/Profile.jsx
  src/routes/Router.jsx
Labels: design, feat, refactor, Profile

#62 [Feat, Fix] 과거 날씨 정보 저장 및 바텀시트/모달 일부 구현 (게시물 삭제)
  src/App.js
  src/api/GameAPI/AddGameAPI.js
  src/api/GameAPI/FeedGame.js
  src/api/GameAPI/LikeGameAPI.js
  src/api/GameAPI/PostGameAPI.js
  src/api/GameAPI/TeamProfileGameAPI.js
  src/api/PostAPI.js/CommentAPI.js
  src/api/PostAPI.js/PostDetailAPI.js
  src/api/WeatherAPI.js
  src/atom/bottomSheetAtom.jsx
  src/atom/loginAtom.jsx
  src/atom/modalAtom.jsx
  src/components/Comment/InputComment.jsx
  src/components/Comment/ViewComment.jsx
  src/components/Common/BottomSheet.jsx
  src/components/Common/BottomSheet/BottomSheet.js
  src/components/Common/BottomSheet/BottomSheetContent.js
  src/components/Common/BottomSheet/BottomSheetHeader.js
  src/components/Common/BottomSheet/BottomSheetOption.js
  src/components/Common/Header/Header.jsx
  src/components/Common/Modal.jsx
  src/components/CommonBottomSheet.jsx
  src/components/CommonModal.jsx
  src/components/List/GameListItem.jsx
  src/components/List/UserList.jsx
  src/components/List/UserListItem.jsx
  src/components/Post/BtnGroup.jsx
  src/components/Post/GamePost.jsx
  src/components/Post/Post.jsx
  src/components/Post/PostProfile.jsx
  src/components/Post/RegularPost.jsx
  src/pages/AddGame.jsx
  src/pages/Error.jsx
  src/pages/Home.jsx
  src/pages/Login.jsx
  src/pages/Post.jsx
  src/pages/Search.jsx
  src/routes/Router.jsx
Labels: design, feat, fix, Post, Schedule

#64 [Bug, Feat] 프로필 페이지 분할 및 직관 일정, 경기 일정 추가 / 태그 버그 수정
  src/components/Profile/CommonProfile.js
  src/components/Profile/TeamProfile.js
  src/components/Profile/UserProfile.js
  src/pages/Profile.jsx
Labels: bug, feat, Profile

#65 [Feat, Fix] 바텀시트/모달 댓글 삭제/신고 기능 및 마이너 버그 고침
  src/api/PostAPI.js/CommentAPI.js
  src/components/Comment/CommentList.jsx
  src/components/Comment/ViewComment.jsx
  src/components/Common/Header/Header.jsx
  src/components/Common/Modal.jsx
  src/components/Common/NavBar.jsx
  src/components/Post/Post.jsx
  src/components/Profile/CommonProfile.jsx
  src/components/Profile/TeamProfile.jsx
  src/components/Profile/UserProfile.jsx
  src/pages/Post.jsx
  src/pages/Profile.jsx
  src/routes/Router.jsx
Labels: feat, fix, Profile

#66 [Feat, Fix] 직관일정 상품등록 API로 변경 및 라우터 버그 고침
  src/App.js
  src/api/AddProductAPI.js
  src/api/GameAPI/LikeGameAPI.js
  src/components/Common/Header/Header.jsx
  src/components/Common/NavBar.jsx
  src/components/List/CardList.jsx
  src/components/List/CardListItem.jsx
  src/components/List/GameListItem.jsx
  src/components/Post/BtnGroup.jsx
  src/components/Post/Post.jsx
  src/components/Profile/UserProfile.jsx
  src/pages/Profile.jsx
Labels: design, feat, fix, Profile, Post, Schedule

#67 [Design] 화면 390px로 고정 디자인
  src/App.js
  src/components/Comment/InputComment.jsx
  src/components/Common/BottomSheet.jsx
  src/components/Common/Empty.jsx
  src/components/Common/Modal.jsx
  src/components/List/CardList.jsx
  src/components/Profile/CommonProfile.jsx
  src/components/Profile/UserProfile.jsx
  src/pages/AddGame.jsx
  src/pages/Error.jsx
  src/pages/Follow.jsx
  src/pages/Home.jsx
  src/pages/Login.jsx
  src/pages/Post.jsx
  src/pages/Profile.jsx
  src/pages/Search.jsx
  src/pages/Signup.jsx
  src/pages/Welcome.jsx
  src/style/GlobalStyles.js
Labels: design, feat

#68 ✨Feat: Upload 페이지 추가 🐛Fix: 이미지 여러개 업로드 시 사진 안 뜨던 문제 해결
  src/components/Post/RegularPost.jsx
  src/pages/Upload.jsx
Labels: common, feat, fix, Post

#69 [Refactor] Welcome, Splash, Router
  src/pages/Splash.jsx
  src/pages/Welcome.jsx
  src/routes/Router.jsx
Labels: refactor, Splash, Login

#70 🐛Fix: 이미지 여러개 업로드 및 토큰 수정
  src/pages/Upload.jsx
Labels: fix, Post

#71 [Feat] 모달 기능 추가
  src/api/AddProductAPI.js
  src/api/GameAPI/TeamProfileGameAPI.js
  src/components/Common/Empty.jsx
  src/components/Common/Header/Header.jsx
  src/components/List/GameListItem.jsx
  src/components/Profile/CommonProfile.jsx
  src/components/Profile/UserProfile.jsx
  src/pages/AddGame.jsx
  src/pages/Error.jsx
  src/routes/Router.jsx
Labels: design, feat, Schedule

#72 [Feat] 팔로우 기능 추가(팔로잉, 팔로워 페이지 제외)
  src/api/FollowAPI.js
  src/components/Profile/CommonProfile.jsx
  src/components/Profile/TeamProfile.jsx
  src/components/Profile/UserProfile.jsx
Labels: feat, Profile

#73 [Feat] 유저 프로필 내 포스트 리스트 추가
  src/api/AddProductAPI.js
  src/api/ProfileAPI.js
  src/components/Post/PostList.jsx
  src/components/Profile/UserProfile.jsx
  src/pages/Home.jsx
Labels: design, feat, fix, Profile

#75 [Feat, Refactor, Fix] 회원가입, Header, 프로필 수정, 아톰, 로그인
  src/atom/loginAtom.jsx
  src/components/Common/Header/Header.jsx
  src/pages/EditProfile.jsx
  src/pages/Login.jsx
  src/pages/Signup.jsx
Labels: feat, fix, refactor, Login, Signup, Profile

#77 [Feat, Fix, Refactor] 팔로우 기능 구현(팔로워, 팔로잉 페이지), 팔로우 함수 이름 변경, 팔로우 버튼 조건수정
  .eslintrc.json
  src/components/Follow/FollowList.jsx
  src/components/Follow/Followers.jsx
  src/components/Follow/Followings.jsx
  src/components/Profile/UserProfile.jsx
  src/pages/Follow.jsx
Labels: feat, fix, Profile

#78 [Feat, Design] 스켈레톤 UI 일부 추가, 디자인 마이너 변경
  package.json
  src/components/Comment/ViewComment.jsx
  src/components/Common/Header/Header.jsx
  src/components/Common/Modals/BottomSheet.jsx
  src/components/Common/Modals/Modal.jsx
  src/components/Common/NavBar.jsx
  src/components/List/CardList.jsx
  src/components/List/CardListItem.jsx
  src/components/ModalUtil/CommonBottomSheet.jsx
  src/components/ModalUtil/CommonModal.jsx
  src/components/Post/BtnGroup.jsx
  src/components/Post/GamePost.jsx
  src/components/Post/Post.jsx
  src/components/Post/PostList.jsx
  src/components/Post/PostProfile.jsx
  src/components/Post/RegularPost.jsx
  src/components/Profile/UserProfile.jsx
  src/components/Skeleton/GameLoader.jsx
  src/components/Skeleton/ListLoader.jsx
  src/components/Skeleton/PostLoader.jsx
  src/pages/AddGame.jsx
  src/pages/EditPost.jsx
  src/pages/Home.jsx
  src/pages/Post.jsx
  src/pages/Search.jsx
  src/routes/Router.jsx
Labels: design, feat

#79 🐛Fix: 이미지버튼과 업로드버튼 수정
  src/components/Common/Button/ImageButton.jsx
Labels: common, design, fix

#80 [Fix] 다른 사람 게시물 불러오는 코드 복구
  src/components/Profile/UserProfile.jsx
Labels: fix, Profile

#81 🐛Fix: UploadButton 수정 및 Upload페이지 수정 ✨Feat: EditPost 페이지 추가
  src/components/Common/Button/ImageButton.jsx
  src/pages/EditPost.jsx
  src/pages/Upload.jsx
Labels: common, feat, fix, Post

#82 [Feat, Fix, Rename] 프로필 스켈레톤, 바텀시트/모달 수정
  src/App.js
  src/components/Common/BottomSheet.jsx
  src/components/Common/Modal.jsx
  src/components/Common/Modals/BottomSheet.jsx
  src/components/Common/Modals/Modal.jsx
  src/components/CommonBottomSheet.jsx
  src/components/CommonModal.jsx
  src/components/ModalUtil/CommonBottomSheet.jsx
  src/components/ModalUtil/CommonModal.jsx
  src/components/Profile/TeamProfile.jsx
  src/components/Skeleton/GameLoader.jsx
  src/components/Skeleton/PostLoader.jsx
  src/components/Skeleton/TeamProfileLoader.jsx
  src/components/Skeleton/UserProfileLoader.jsx
  src/pages/Profile.jsx
Labels: design, feat, fix

#83 [Feat, Design] Chat, ChatRoom, Header, InputComment
  src/components/Comment/InputComment.jsx
  src/components/Common/Header/Header.jsx
  src/pages/Chat.jsx
  src/pages/ChatRoom.jsx
Labels: design, feat

#84 [Feat, Fix] 각종 모달 연결 및 디자인 변경 / 선수 데이터 업로드
  src/api/PostAPI.js/PostDetailAPI.js
  src/assets/image/noimage.png
  src/components/Comment/ViewComment.jsx
  src/components/Common/Empty.jsx
  src/components/Post/Post.jsx
  src/components/Post/RegularPost.jsx
  src/data/baseball_players.json
  src/pages/EditPost.jsx
  src/pages/EditProfile.jsx
  src/pages/Profile.jsx
  src/pages/Search.jsx
  src/pages/Upload.jsx
Labels: common, design, feat, fix

#85 💄Design: 사진 표현 방식 변경
  src/components/Post/RegularPost.jsx
Labels: design, Post

#86 [Feat, Fix] Swiper 수정, 무한 스크롤 추가
  src/api/AddProductAPI.js
  src/api/PostAPI.js/CommentAPI.js
  src/components/Comment/CommentList.jsx
  src/components/Common/Empty.jsx
  src/components/Common/Modals/BottomSheet.jsx
  src/components/Post/GamePost.jsx
  src/components/Post/Post.jsx
  src/components/Post/PostList.jsx
  src/components/Post/RegularPost.jsx
  src/components/Profile/UserProfile.jsx
  src/pages/Home.jsx
Labels: design, feat, fix

#87 🐛Fix: 사진 업로드 취소 시 에러 수정 및 코드 정리
  src/pages/EditPost.jsx
  src/pages/Upload.jsx
Labels: fix, Post

#89 [Feat, Fix] PlayerList 페이지, Router, SelectFilter, TeamProfile, players.json데이터
  src/components/Common/Filter/SelectFilter.jsx
  src/components/Profile/TeamProfile.jsx
  src/data/baseball_players.json
  src/pages/PlayerList.jsx
  src/routes/Router.jsx
Labels: feat, fix

#90 [Design] PlayerList 페이지 수정
  src/pages/PlayerList.jsx
Labels: design

#91 [Feat] 앨범형 게시글 목록, 게시글 없을 때 화면 추가
  src/assets/image/icon-calendar.svg
  src/assets/image/icon-camera.svg
  src/components/Post/PostList.jsx
  src/components/Profile/UserProfile.jsx
  src/pages/Profile.jsx
Labels: feat, Profile

#93 [Feat, Fix]
  src/api/AddProductAPI.js
  src/api/FollowAPI.js
  src/components/Follow/Followers.jsx
  src/components/Follow/Followings.jsx
  src/components/List/CardGrid.jsx
  src/components/List/GameList.jsx
  src/components/List/PlayerListItem.js
  src/components/Post/Post.jsx
  src/components/Post/PostList.jsx
  src/components/Profile/UserProfile.jsx
  src/components/Skeleton/CardLoader.jsx
  src/pages/Schedule.jsx
  src/routes/Router.jsx
Labels: feat, fix

#94 [Feat] 태그 눌렀을 시 search로 이동
  src/components/Profile/CommonProfile.jsx
  src/components/Profile/MyProfile.jsx
  src/components/Profile/ProfleStyle.jsx
Labels: feat

#95 [Fix, Design] Input, Splash, Welcome
  src/components/Common/Input.jsx
  src/pages/Splash.jsx
  src/pages/Welcome.jsx
Labels: common, design, fix

#96 [Feat, Fix] 댓글 아이디 클릭시 프로필 이동, 게시글 상세 페이지 컨텐츠의 링크 삭제
  src/components/Comment/ViewComment.jsx
  src/components/Post/GamePost.jsx
  src/components/Post/RegularPost.jsx
Labels: feat, fix, Post

#97 [Design, Fix] 마이너 버그/디자인 변경
  src/api/SearchAPI.js
  src/components/Comment/ViewComment.jsx
  src/components/Common/Empty.jsx
  src/components/Post/Post.jsx
  src/pages/Upload.jsx
Labels: design, fix

#99 [Docs, Design] Readme 업데이트, 파비콘 설정
  README.md
  public/favicon.ico
  public/index.html
Labels: design, docs
